<VirtualHost *:80>
    ServerName [PRIMARY-DOMAIN-NAME]
    ServerAlias [DOMAIN-NAME2, DOMAIN-NAME3, ...]
    DocumentRoot /var/www/html
    ProxyRequests Off

    RequestHeader set X-Real-Client-IP expr=%{REMOTE_ADDR}

    <IfModule mod_headers.c>
        <LocationMatch "(eot|otf|svg|ttf|woff|woff2)$">
            Header set Access-Control-Allow-Origin "*"
        </LocationMatch>
    </IfModule>

    # loadbalancing für web-root aktivieren
    ProxyPass / balancer://[VHOST-CLUSTER-NAME]/ nofailover=On

    # logging der stickysession-daten aktivieren
    LogFormat "%h %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{BALANCE_ID}C\" \"%{BALANCER_SESSION_STICKY}e\" \"%{BALANCER_SESSION_ROUTE}e\"" balancer
    CustomLog ${APACHE_LOG_DIR}/access.log balancer
    ErrorLog ${APACHE_LOG_DIR}/error.log
</VirtualHost>