<VirtualHost *:80>
    ServerName [PRIMARY-DOMAIN-NAME]
    ServerAlias [DOMAIN-NAME2, DOMAIN-NAME3, ...]
    DocumentRoot /var/www/html
    ProxyRequests Off

    RequestHeader setifempty X-Real-Client-IP expr=%{REMOTE_ADDR}

    SSLProxyEngine on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    # loadbalancing für web-root aktivieren
    ProxyPass / balancer://[VHOST-CLUSTER-NAME]/ nofailover=On

    # logging der stickysession-daten aktivieren
    LogFormat "%h %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{BALANCE_ID}C\" \"%{BALANCER_SESSION_STICKY}e\" \"%{BALANCER_SESSION_ROUTE}e\"" balancer
    CustomLog ${APACHE_LOG_DIR}/access.log balancer
    ErrorLog ${APACHE_LOG_DIR}/error.log
</VirtualHost>

<VirtualHost *:443>
    ServerName [PRIMARY-DOMAIN-NAME]
    ServerAlias [DOMAIN-NAME2, DOMAIN-NAME3, ...]
    DocumentRoot /var/www/html
    ProxyRequests Off

    RequestHeader setifempty X-Real-Client-IP expr=%{REMOTE_ADDR}

    SSLProxyEngine on
    SSLProxyVerify none
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerName off
    SSLProxyCheckPeerExpire off

    # loadbalancing für web-root aktivieren
    ProxyPass / balancer://[VHOST-CLUSTER-NAME]/ nofailover=On

    <IfModule mod_ssl.c>
        SSLEngine on
        Include /etc/letsencrypt/options-ssl-apache.conf
        SSLCertificateFile /etc/letsencrypt/live/[SERVER_NAME]/cert.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/[SERVER_NAME]/privkey.pem
        SSLCertificateChainFile /etc/letsencrypt/live/[SERVER_NAME]/chain.pem
    </IfModule>

    # logging der stickysession-daten aktivieren
    LogFormat "%h %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{BALANCE_ID}C\" \"%{BALANCER_SESSION_STICKY}e\" \"%{BALANCER_SESSION_ROUTE}e\"" balancer
    CustomLog ${APACHE_LOG_DIR}/access.log balancer
    ErrorLog ${APACHE_LOG_DIR}/error.log
</VirtualHost>