<VirtualHost *:443>
    ServerName [SERVER_NAME]

    DocumentRoot [APACHE_MAINTENANCE_PATH]

    <Directory [APACHE_MAINTENANCE_PATH]>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride all
        Require all granted
    </Directory>

    RewriteEngine on

    RewriteCond %{DOCUMENT_ROOT}/[SERVER_NAME].maintenance.html -f
    RewriteCond %{REQUEST_FILENAME} !/[SERVER_NAME].maintenance.html
    RewriteRule ^.*$    /[SERVER_NAME].maintenance.html [L]

    LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%D\" \"%{X-Route}o\"" pm-apache

    ErrorLog /var/log/apache2/[SERVER_NAME]_ssl_error.log
    CustomLog ${APACHE_LOG_DIR}/[SERVER_NAME]_ssl_access.log pm-apache

    Include /etc/letsencrypt/options-ssl-apache.conf
    SSLCertificateFile /etc/letsencrypt/live/[SERVER_NAME]/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/[SERVER_NAME]/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/[SERVER_NAME]/chain.pem

</VirtualHost>
