<VirtualHost *:80>
    ServerName [PRIMARY-DOMAIN-NAME]
    ServerAlias [DOMAIN-NAME2, DOMAIN-NAME3, ...]
    DocumentRoot /var/www/html
    ProxyRequests Off

    <If "${APACHE_BEHIND_REVERSE_PROXY} == true">
        RemoteIPHeader X-Real-Client-IP
        LogFormat "%a %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{BALANCE_ID}C\"" balancer
    <else>
        RequestHeader set X-Real-Client-IP expr=%{REMOTE_ADDR}
        LogFormat "%h %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{BALANCE_ID}C\"" balancer
    </If>

    # loadbalancing für web-root aktivieren
    ProxyPass / balancer://[VHOST-CLUSTER-NAME]/ nofailover=On

    # logging der stickysession-daten aktivieren
    CustomLog ${APACHE_LOG_DIR}/access.log balancer
    ErrorLog ${APACHE_LOG_DIR}/error.log
</VirtualHost>