<VirtualHost *:80>
    ServerName [PRIMARY-DOMAIN-NAME]
    ServerAlias [DOMAIN-NAME2, DOMAIN-NAME3, ...]
    DocumentRoot /var/www/html
    ProxyRequests Off

    <If "${APACHE_BEHIND_REVERSE_PROXY} == true">
        RemoteIPHeader X-Real-Client-IP
        LogFormat "%a %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{BALANCE_ID}C\"" balancer
    <else>
        RequestHeader set X-Real-Client-IP expr=%{REMOTE_ADDR}
        LogFormat "%h %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{BALANCE_ID}C\"" balancer
    </If>

    # loadbalancing für web-root aktivieren
    ProxyPass / balancer://[VHOST-CLUSTER-NAME]/ nofailover=On

    # logging der stickysession-daten aktivieren
    CustomLog ${APACHE_LOG_DIR}/access.log balancer
    ErrorLog ${APACHE_LOG_DIR}/error.log
</VirtualHost>

<VirtualHost *:443>
    ServerName [PRIMARY-DOMAIN-NAME]
    ServerAlias [DOMAIN-NAME2, DOMAIN-NAME3, ...]
    DocumentRoot /var/www/html
    ProxyRequests Off

    <If "${APACHE_BEHIND_REVERSE_PROXY} == true">
        RemoteIPHeader X-Real-Client-IP
        LogFormat "%a %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{BALANCE_ID}C\"" balancer
    <else>
        RequestHeader set X-Real-Client-IP expr=%{REMOTE_ADDR}
        LogFormat "%h %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" \"%{BALANCE_ID}C\"" balancer
    </If>

    # loadbalancing für web-root aktivieren
    ProxyPass / balancer://[VHOST-CLUSTER-NAME]/ nofailover=On

    <IfModule mod_ssl.c>
        SSLEngine on
        SSLCertificateKeyFile /etc/ssl/keys/[PRIMARY-DOMAIN-NAME].key
        SSLCertificateFile /etc/ssl/certs/[PRIMARY-DOMAIN-NAME].crt
        SetEnvIf User-Agent ".*MSIE.*" \
          nokeepalive ssl-unclean-shutdown \
          downgrade-1.0 force-response-1.0
    </IfModule>

    # logging der stickysession-daten aktivieren
    CustomLog ${APACHE_LOG_DIR}/access.log balancer
    ErrorLog ${APACHE_LOG_DIR}/error.log
</VirtualHost>