<VirtualHost *:80>
    ServerName [SERVER_NAME]

    DocumentRoot /var/www/certbot-webroot

    ErrorLog ${APACHE_LOG_DIR}/[SERVER_NAME]_error.log
    CustomLog ${APACHE_LOG_DIR}/[SERVER_NAME]_access.log combined
</VirtualHost>